JiSuPai/.DS_Store
JiSuPai.xcworkspace/xcuserdata/Lost.xcuserdatad/UserInterfaceState.xcuserstate
JiSuPai.xcworkspace/xcuserdata/Lost.xcuserdatad/UserInterfaceState.xcuserstate
JiSuPai.xcworkspace/xcuserdata/Lost.xcuserdatad/UserInterfaceState.xcuserstate
